
#main{
    /* width: 100%; */
    width: 100vw;
   
    background: linear-gradient(to bottom right,#ec2f4b 55%,#009fff);
}
.footer {
    z-index: 1;
    --footer-background: #ec2F4B;
    display: grid;
    position: relative;
    grid-area: footer;
    justify-content: center;
    align-items: center; 
    min-height: 12rem;
    padding: 20px 0;
}

.footer .bubbles {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

.footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.footer .content {
    padding: 0 40px;
    z-index: 2;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 80% auto;
    background:linear-gradient(to bottom right, #ec2f4b 1, #009fff);
}

.footer .content a,
.footer .content p {
    color: #F5F7FA;
    text-decoration: none;
}


.footer .content p {
    margin: 0;
    font-size: 15px;
}

.footer .content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer .content>div:nth-child(2) {
    align-items: center;
}

.footer .content>div>div {
    margin: 0.25rem ;
}


.footer .content>div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}
.socialIcon-Box{
    min-width: 40%;
    margin: 30px auto 5px;
    cursor: pointer;
    
}
@-webkit-keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@-webkit-keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}